<div id="content">
  <h1>Elevated Texas Cuisine</h1>
  <hr />
	<p>
  We’re not a BBQ truck, not a burger or a taco truck—but we might just be all 
  those things. We take quintessential Texas cuisine and give it a gourmet 
  spin. Sometimes we take international dishes and give them a Texas spin. Our
  <%= link_to("menu", menu_path) %> changes monthly based on what’s local and 
  in season, so you’ll never have to have the same thing twice. But I bet 
  you’ll want to.
	</p>
<%= render 'layouts/twitter_feed' %>
  <span class="linkline">
    <%= link_to('Follow Us', 'https://twitter.com/thegingerdillo') %>
    &nbsp; | &nbsp;
    <%= link_to('Find Us', locate_path) %>
    &nbsp; | &nbsp; 
    <%= link_to('512.815.2869', contact_path) %>
  </span>

  <%= link_to('', story_path, id: 'imgleft') %>
  <%= link_to('', locate_path, id: 'imgright') %>
</div>
</div>
