<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Fall Savory"</h1>
  <p style="text-align: center;">Menu for September, 2014</p>
  <hr />
	<div class="menuRibbons">Entrées</div>
    <h2>lamb sliders</h2>
    <p>two little burgers of freshly ground Texas Twin County Lamb on house made
    kolache buns with arugula, roasted pepper aioli, and Granny Ila's pickles &
    jalapeños . . . . . 7.5</p>
    <h2>smoked chicken & waffle</h2>
    <p>smoked Vital Farms chicken leg and thigh or breast with a crispy
    buttermilk waffle, topped with jalapeño maple glaze & bacon pecan crumble .
    . . . .  7.5</p>
    <h2>bbq pig rib grinder</h2>
    <p>tender smoked & spicy braised pork ribs, deboned and stuffed into house
    made kolache grinder rolls served with goat cheese pepper crème, juicy
    tomato, and Granny Ila's pickles & jalapeños . . . . . 7.5</p>
    <h2>crispy harvest cakes<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>grated zucchini & beet cakes fried to order with sautéed sweet potato
    greens & spicy smoked tomato salsa . . . . . 7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>fall faux-tato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>heirloom, butternut, & acorn squash cooked, chilled, and tossed in
    chipotle aioli with celery & onions . . . . . 2.5</p>
    <h2>cucumber mint slaw<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %>+</h2>
    <p>julienned cucumber & fresh mint coulis with pickled peppers & onions . .
    .  2.5</p>
    <h2>double butter beans<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>herb roasted garbanzo beans & butterbeans basted with red peppers & basil
    brown butter. . . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
