<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Smoked Spring"</h1>
  <p style="text-align: center;">Menu for April, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>ranch brisket tacos</h2>
    <p>two smoked brisket tacos w/ smoked tomato ranchero sauce, cilantro lime
    pesto, & pickled jalapeños . . . . 7.5</p>
    <h2>smoked cod</h2>
    <p>house smoked cod fillets w/ lemon, shallot, caper butter over braised
    cabbage. . . . 7.5</p>
    <h2>Texas pork bun</h2>
    <p>crispy smoked pork belly on a sweet bun w/ sweet Cabernet Dijonnaise &
    spicy pickled daikon slaw. . . . . 7.5</p>
    <h2>pastitsio primavera<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>fresh pasta layered w/ creamy leek béchamel, peas, shaved broccoli,
    fresh farmer cheese & sundried tomato pesto . . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>curried cauliflower salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>poached cauliflower & red potatoes w/ green onion, celery, & curry aioli
    . . . .  2.5</p>
    <h2>citrus beet slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>quick pickled julienned beets, thinly shaved carrot, & orange supremes
    in a balsamic vinaigrette. . . 2.5</p>
    <h2>white bean ragú<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>cannellini beans, sweet potato, & kale simmered w/ fresh herbs & smoked
    tomatoes .
    . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
