<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Memories of May"</h1>
  <p style="text-align: center;">Menu for May, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>Texas brisket chili & corn muffin</h2>
    <p>slow smoked brisket chili w/ a spring onion corn muffin, grated cheddar,
    & pickled jalapeños . . . . 7.5</p>
    <h2>smoked chicken fajitas</h2>
    <p>two Texas tortillas, local chicken (smoked and shredded), & grilled w/
    onions, peppers, smoked tomato salsa, avocado slaw, & pickled jalapeños. .
    . . 7.5</p>
    <h2>Mom's specialty</h2>
    <p>three cheese béchamel, in house cold smoked ahi tuna, & orecchiette
    pasta crusted w/ buttered herb “flakes”. . . . . 7.5</p>
    <h2>spring zucchini burger<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>crispy pan fried zucchini fritter on a sweet bun w/ smoked tomato &
    olive tapenade, Granny Ila’s quick pickles & pickled jalapeños . . . .
    7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>smashed potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>new potatoes smashed w/ shaved fennel and boiled eggs w/ a red chili and
    mint aioli . . . .  2.5</p>
    <h2>kale caesar slaw<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>julienne kale, Mexican heirloom garlic, grated parmesan, toasted pecans
    w/ creamy lemon & caper vinaigrette. . . 2.5</p>
    <h2>cinco de drinko beans<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>traditional borracho pinto beans w/ finely diced jalapeños & smoked
    tomato beer broth .  . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
