<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Monster Mashup"</h1>
  <p style="text-align: center;">Menu for October, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>Oktoberfest würstl</h2>
    <p>house smoked pork & beef sausages w/ red sauerkraut, brown beer pickled
    mustard seeds, & Granny Ila’s pickles & jalapeños. . . .
    7.5</p>
    <h2>tailgating chicken gumbo</h2>
    <p>smoked chicken & tomato gumbo w/ roasted corn, okra, homemade andouille
    sausage, red beans & brown rice. .  . . 7.5</p>
    <h2>dead man's ribs</h2>
    <p>smoked St. Louis spare ribs w/ spicy Asian glaze, crispy Thai basil, &
    Granny Ila’s pickles & jalapeños. . . . . 7.5</p>
    <h2>smoky veggie pomodoro<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>smoked eggplant & zucchini w/ a fresh tomato sauce over herbed spaghetti
    squash. . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>kimchi potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>fusion of warm German style potato salad w/ house made Kimchi - spicy
    pickled bok choy, green cabbage, radishes, & rainbow carrots w/ spicy
    ginger dressing . . . .  2.5</p>
    <h2>kale caesar slaw<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>julienne kale, heirloom garlic, grated parmesan, toasted pecans w/
    creamy lemon & caper vinaigrette. . . 2.5</p>
    <h2>chilled frijoles de los muertos<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>chilled 3 bean salad: jalapeño braised black beans, kidney beans, &
    chickpeas w/ pickled sweet peppers & onions  . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
