<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Winter Warmth"</h1>
  <p style="text-align: center;">Menu for January, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>winter shepherd's pie</h2>
    <p>minced lamb & elk in thick herb gravy w/ carrots, celery, & onion topped
    w/ crispy whipped potato topping . . . . . 7.5</p>
    <h2>jamaican jerk chicken</h2>
    <p>jerk rubbed & smoked <a
      href="http://vitalfarms.com/backyard-birds/">Vital Farms chicken</a>  leg
    and thigh or breast w/ Granny Ila’s pickles & jalapeños. . . . .  7.5</p>
    <h2>smoked bbq salmon</h2>
    <p>cold smoked & seared atlantic salmon w/ asian bbq glaze on crispy noodle
    salad & Granny Ila’s pickles & jalapeños . . . . 7.5</p>
    <h2>Texas ratatouille<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>smoked squash, eggplant, & tomatoes w/ braised cabbage, garlic, &
    cilantro. . . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>twice baked potato casserole<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>creamy whipped potatoes baked w/ roasted garlic, cheddar. . . . .
    2.5</p>
    <h2>broccoli-cauli-rabe slaw<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>crisp broccoli, cauliflower, & broccoli rabe salad w/ shredded carrot,
    toasted pumpkin seeds, & spicy plum aioli. .  . . . 2.5</p>
    <h2>sufferin' succotash<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>field peas, green beans, sage, & roasted corn w/ a warm smoked tomato &
    jalapeño jam. . .  . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
