<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>The Ginger Armadillo II: A New Hope</h1>
  <p style="text-align: center;">Menu for January, 2016</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>spicy winter sausage</h2>
    <p>minced venison & beef in thick herb gravy w/ carrots, celery, & onion
    topped w/ crispy whipped potato topping (gluten free). . . .  7.5</p>
    <h2>aloha oe that's good sausage</h2>
    <p>spicy Polynesian style pork sausage & Hawaiian bun w/ pickled pineapple
    relish, Granny Ila’s quick pickles & jalapeños. .  . . 7.5</p>
    <h2>smoked ahi tuna</h2>
    <p>cold smoked & seared Ahi tuna steak w/ caper butter, Mediterranean red
    quinoa salad, & Granny Ila’s pickles & jalapeños. . . . 7.5</p>
    <h2>pastitsio primavera<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>fresh mushroom pasta layered w/ creamy leek béchamel, pea tendrils,
    shaved broccoli, goat cheese & sundried tomato pesto. . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>twice baked potato caserole<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>creamy smoked & whipped potatoes baked w/ roasted garlic, cheddar, &
    green onion (gluten free). . . .  2.5</p>
    <h2>rainbow citrus slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>julienned beets, rainbow carrots, & watermelon radishes w/ fresh orange
    supremes & grapefruit vinaigrette. . . 2.5</p>
    <h2>sufferin' succotash<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>field peas, sweet potato, green beans, sage, & roasted corn w/ a warm
    smoked tomato & jalapeño jam. . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
