<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>Peace on Earth;<br /> Good Will toward Men</h1>
  <p style="text-align: center;">Menu for December, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>spicy winter sausage</h2>
    <p>jalapeño cheddar brisket sausage w/ pickled mustard seed, Texas kimchi,
    & Granny Ila’s pickles & jalapeños. . . .
    7.5</p>
    <h2>duck soup</h2>
    <p>smoked duck meat shredded & stewed w/ winter vegetables & barley topped
    w/ duck pâté crostini & duck cracklin. .  . . 7.5</p>
    <h2>holiday ham</h2>
    <p>cured, smoked, & pecan praline glazed boneless pork, sliced thick w/
    extra glaze. . . . . 7.5</p>
    <h2>sweet potato latkes<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>crispy sweet potato & beet cakes w/ grapefruit & frisee salad w/ citrus
    crème. . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>smashed potato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>poached new potatoes smashed w/ shaved fennel & boiled eggs w/ a red
    chili & mint aioli. . . .  2.5</p>
    <h2>cranberry kale slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>orange & cranberry chutney vinaigrette dressed kale w/ toasted pumpkin
    seeds. . . 2.5</p>
    <h2>chili red lentils<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>tender red lentils cooked w/ lime, red chili, & ginger topped w/ crispy
    purple basil . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
