<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Red Oktober"</h1>
  <p style="text-align: center;">Menu for October, 2014</p>
  <hr />
  <p>**Besides making every item from scratch, all of our protein, fruits, and
  vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>lamb meatball sub</h2>
    <p>tender <a href="http://www.twincountydorpers.com/">Texas Twin County
    lamb</a> meatballs on a house made kolache rolls w/ smoked tomato marinara,
    cilantro ricotta & Granny Ila’s pickles & jalapeños . . . . . 7.5</p>
    <h2>smoked chicken diablo</h2>
    <p>smoked <a href="http://vitalfarms.com/backyard-birds/">Vital Farms
    chicken</a> leg and thigh or breast braised in a sweet & spicy, vibrant red
    sauce of local beets & peppers . . . . . 7.5</p>
    <h2>Oktoberfest würstl</h2>
    <p>smoked pork sausages w/ red sauerkraut, brown beer pickled mustard
    seeds, & Granny Ila’s pickles & jalapeños . . . . . 7.5</p>
    <h2>smoky veggie gyro<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>grilled Texas pita stuffed w/ smoked eggplant & zucchini topped w/
    arugula pesto & citrus tzatziki . . . . . 7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>fall faux-tato salad<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>back by popular demand - butternut squash & sweet potatoes cooked,
    chilled, & tossed in chipotle aioli w/ celery & onions . . . . . 2.5</p>
    <h2>kimchi slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>spicy pickled bok choy, green cabbage, radishes, & rainbow carrots w/
    ginger, red pepper flake, and crispy cilantro noodles . . . . . 2.5</p>
    <h2>frijoles de los muertos<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>jalapeño braised black beans w/ pickled pico de gallo & lime crème
    fraiche . . . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
