<% provide(:title, 'Menu') %>
<div id="content" class="menu">
  <h1>"Home for November"</h1>
  <p style="text-align: center;">Menu for November, 2015</p>
  <hr />
  <p>**Besides making every item from scratch, as much of our protein as
  possible, and all of our fruits and vegetables are organic and local.**</p>
	<div class="menuRibbons">Entrées</div>
    <h2>brisket meatloaf</h2>
    <p>smoked & then pan fried brisket meatloaf stuffed w/ onions, mushrooms, &
    kale w/ basil pesto & Granny Ila’s pickles & jalapeños. . . .
    7.5</p>
    <h2>holiday duck</h2>
    <p>sage smoked duck, breast or leg & thigh w/ bacon, jalapeño, & cranberry
    chutney over braised greens. .  . . 7.5</p>
    <h2>pulled pork kolache sandwich</h2>
    <p>rubbed & smoked pork shoulder braised to perfection w/ beer & tomato on
    a sweet bun w/ Granny Ila’s pickles & jalapeños. . . . . 7.5</p>
    <h2>broccoli & smoked potato gratin<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>roasted broccoli & smoked potatoes thinly sliced & baked in a cheddar &
    goat cheese sauce. . . .  7.5</p>

  <div class="menuRibbons">Sides</div>
    <h2>butternut stuffing<%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>warm butternut squash & kolache bread pudding w/ sage, celery, &
    caramelized onion . . . .  2.5</p>
    <h2>brussel sprout slaw<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>shaved brussel sprouts w/ pickled watermelon radish, toasted pecans, &
    balsamic vinaigrette. . . 2.5</p>
    <h2>green bean almondine<%= image_tag('vegetarian.png', alt: 'a vegan dish.') %>+</h2>
    <p>chilled green bean salad w/ sautéed mushrooms, toasted almonds, & rice
    wine vinaigrette . . . 2.5</p>

  <div class="menuRibbons">Combinations</div>
    <p>any entrée with a side and beverage . . . . . 8.5</p>

  <div class="menuRibbons">Drinks</div>
    <p>refreshing coke, diet coke, sprite, or bottled water . . . . . 1</p>

<% if false %>
  <hr/>
  <div class="menuRibbons">Brunch (only available at certain events)</div>
  <h2>Texas Breakfast</h2>
    <p>two buttermilk biscuits with all beef and beer, German style sausage, two
    fried eggs, and roasted tomato salsa . . . . . 7.5</p>
  <h2>Sweet & Spicy Hash</h2>
    <p>smoked shredded pork in an orange Sambal glaze with shredded potatoes,
    caramelized onions and peppers, one (local & free range) fried egg, and a
    buttermilk biscuit . . . . . 7.5</p>
  <h2>Maggie's French Toast <%= image_tag('vegetarian.png', alt: 'a vegetarian dish.') %></h2>
    <p>two thick slices of battered & fried homemade bread with Texas grapefruit
    and strawberry syrup<br /> . . . . . 6.5</p>
  <div class="menuRibbons">À la carte brunch items</div>
    <p>local fried egg,<br/>
    biscuit with smoked chicken gravy,<br/>
    two Texas tortillas,<br/>
    chocolate chip scone,<br/>
    brown sugar muffin . . . . . 1 (each)</p>
<% end %>
</div>
