<% provide(:title, 'Story') %>
<%#TODO: Update tags to meet html5 specs %>
<div id="content">
  <h1>Our Story</h1>
  <hr />
  <p>A true labor of love, The Ginger Armadillo wasn’t born overnight. It began
  as a cookbook ‘<%= link_to 'Gourmet Meals in Crappy Little Kitchens',
  'http://amzn.com/0757313655' %>’ and became a food truck ‘The Crappy Little
  Chuckwagon’.  After much deliberation on the wisdom of having the word
  ‘Crap’ on your mobile food business, The Ginger Armadillo was born. Ginger
  being an ingredient in gourmet food worldwide, not to mention that Chef Jen
  is in fact a ginger, well the rest is history.</p>
  <p><%= image_tag("chefjen.jpg", alt: 'Chef Jen') %> <br />
  Chef Jen <br />
  You'll find me behind the grill and sometimes out-front. I'm an actual ginger,
  so although I would have sold my soul to start my own business, clearly that
  wasn't an option... It just took a lot of really hard work instead.</p>
  <hr />
  <p><%= image_tag("devon.jpg", alt: 'Devon') %> <br />
  Devon<br />
  This is Devon. She classes up the joint. Running the ‘front of the house’
  Devon is also the gatekeeper, so keep it weird Austin, or no soup for
  you!!</p>
  <hr />
  <p><%= image_tag("tyler.jpg", alt: 'Tyler') %> <br />
  Tyler<br />
  He’s our muscle. Meat carving, grinding, grilling, and smoking 
  is his specialty, but he also has a lovely singing voice.</p>
  <hr />
  <p><%= image_tag("maggie.jpg", alt: 'Maggie') %> <br />
  Maggie <br />
  This is our truck, Maggie. She now has a fancy Ginger Armadillo makeover, but
  it's important to me that we stay close to our roots. This is the way Maggie
  looked when I first fell in love with her:<br />
  <%= image_tag("maggie2.jpg", alt: "Good Ol' Maggie") %></p> 
</div>
