<div id="headerbar">
  <div id="logo"><a href="/"></a></div>
</div>
<div id="nav">
  <div id="navholder">
    <ul class="left">
      <li><%= link_to "OUR STORY", story_path %></li>
      <li><%= link_to "MENU", menu_path %></li>
      <li><%= link_to "COMMUNITY", community_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to "FIND US", locate_path %></li>
      <li><%= link_to "BOOK US", book_path %></li>
      <li><%= link_to "CONTACT US", contact_path %></li>
    </ul>
  </div>
</div>
