<ul class="rslides" id="slider1">
  <li><%= image_tag("img1.jpg", alt: "slide1") %></li>
  <li><%= image_tag("img2.jpg", alt: "slide2") %></li>
  <li><%= image_tag("img3.jpg", alt: "slide3") %></li>
  <li><%= image_tag("img4.jpg", alt: "slide4") %></li>
  <li><%= image_tag("img5.jpg", alt: "slide5") %></li>
  <li><%= image_tag("img6.jpg", alt: "slide6") %></li>
</ul>
